*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: bisque;
  font-size: larger;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}